<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Person</title>
</head>
<body>
    <h1>Add Person</h1>
    <form action="/add" method="post">
        Name: <input type="text" name="name" required>
        Age: <input type="number" name="age" required>
        Country: <input type="text" name="country" required>
        <button type="submit">Them du lieu</button>
    </form>
    <a href="/">Back</a>
</body>
</html>